img {
    width: 30%;
    float: left;
    margin: 1.66%;
    border: 10px solid black;
    box-sizing: border-box;
    /*box-sizing: inherit;*/
    -webkit-box-shadow: 5px 5px 5px #111;
    box-shadow: 5px 5px 5px #111;
}


p {
    font-family: Raleway;
    margin-left: 1.66%;
    font-size: 32px;
    font-weight: 800;
    text-transform: uppercase;
    border-bottom: 2px solid black;
    width: 30%;
    padding-bottom: 20px;
}

.tilt {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.tilt:hover {
  -webkit-transform: rotate(-2deg);
     -moz-transform: rotate(-2deg);
       -o-transform: rotate(-2deg);
      -ms-transform: rotate(-2deg);
          transform: rotate(-2deg);
}

